<div class="container-fluid">
   <div class="col-xs-12 col-md-8">
      <div id= "links" class="actions">
         <%= button_to('Back', clients_schedule_meetings_path, :class => 'btn btn-primary pull-right btn-padded')%>
      </div>
   </div>
   <div class="col-xs-12 col-md-8">
      <table class="table table-condensed">
         <thead>
            <tr class="noborder">
               <th colspan="2"><h3>New Meeting</h3></th>
            </tr>
            <tr>
               <th class="norm">Name</th>
               <th class="norm">To be seen by</th>
            </tr>
         </thead>
            <tr>
               <td class="norm">
                  <%=display_name%>
               </td>
               <td>
                  <%= form_for(@meeting, :url=>{:action=>"update"},:html => {
                     :class =>"select_client_group_form"}) do |f| %>
                     <div class="field">
                         <%= f.hidden_field :sitting_id, :value => @sitting_id %>
                         <%= f.hidden_field :client_id, :value => @client_id %>
                         <%= f.hidden_field :start_date, :value => @sitting_start_date %>
                         <%= f.hidden_field :start_time, :value => @sitting_start_time %>
                         <%= f.hidden_field :meeting_type_id, :value => @regular_meeting_type%>
                         <%= f.collection_select(:manager_id, Manager.all, :id, :manager_name, {:class =>'form-control'}) %>
                     </div>
                     <div id= "buttonId" class="actions col-xs-6 text-left">
                         <%= f.submit "Submit", class:"btn btn-default btn-md center-block" %>
                     </div>
                  <%end%>
               </td>
             </tr>
         <thead>
            <tr class="noborder">
               <th colspan="2"><h3>Past meetings</h3>
            </tr>
            <tr>
               <th class="norm"> Sitting </th>
               <th class="norm"> Manager </th>
            </tr>
         </thead>
            <% @show_meetings.each do |meeting| %>
               <tr>
                  <% if @show_meetings != nil %>
                     <%if meeting.start_date!= nil%>
                        <td class="norm"><%=meeting.start_date.strftime("%A, %B %-d, %Y")%>
                     <%end%>
                     <%if meeting.event_title!= nil%>
                        <%= " - " + meeting.event_title %></td>
                     <%end%>
                     <%if meeting.initials!= nil%>
                        <td class="norm"><%=meeting.initials%></td>
                     <%end%>
                   <%end%>
               </tr>
            <%end%>
         <thead>
            <tr class="noborder">
               <th colspan="2"><h3>Recently attended sittings</h3>
            </tr>
            <tr>
             <th class="norm"> Date</th>
             <th class="norm"> Sitting </th>
             <th></th>
            </tr>
         </thead>
            <%if @show_attendance.length > 0%>
               <% @show_attendance.each do |attendance| %>
                  <tr>
                  <%if attendance.start_date != nil%>
                     <td class="norm"><%=attendance.start_date.strftime("%A, %B %-d, %Y")%></td>
                  <%end%>
                  <%if attendance.event_title != nil%>
                     <td class="norm"><%=attendance.event_title%></td>
                  <%end%>
                     <td></td>
                  </tr>
               <%end%>
            <%end%>
      </table>
   </div>
</div>


