<div class="container-fluid">
   <div class="row col-xs-12">
      <div id= "links" class="actions">
         <div>
            <%= button_to('New Client', new_student_path, :class => 'btn  btn-primary pull-right btn-padded')  %>
         </div>

      </div>
   </div>
   <div class="row col-xs-8">
      <table class="table table-hover table-condensed">
         <thead>
            <tr class="noborder">
               <th colspan="5"><h3>Manage clients</h3></th>
            </tr>
            <tr>
               <th>Client Name</th>
               <th>Category</th>
               <th>Recent History</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
         </thead>
            <% @students.each do |student| %>
            <tr>
               <td id="name">
                  <% if student.last_name != nil %>
                     <%=student.first_name + " " + student.last_name%>
                  <%else %>
                     <%=student.first_name%>
                  <%end%>
               </td>
               <td>
                  <% if student.category_type.name != nil %>
                     <%=student.category_type.name%>
                  <%end%>
               </td>
               <td>
                  <%= button_to('Show History', "/students/#{student.id}/history", :class => 'btn btn-secondary btn-sm')%>
               </td>
               <td><%= button_to('Edit', edit_student_path(student), :class => 'btn btn-secondary btn-sm')%>
               </td>
               <td><%= button_to 'Delete', student_path(student), :class => 'btn btn-secondary btn-sm',
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
               </td>
            </tr>
         <%end%>
      </table>
   </div>
   <div id= "links" class="actions col-xs-8">
   </div>
</div>
