<div class="container-fluid">
   <div id="links" class="row col-xs-12">
      <%= button_to('Back', groups_manage_groups_path, :class => 'btn btn-primary btn-padded pull-right')  %>
      <% if @group_name!= nil%>
         <h3 id="blue-text"><%=@group_name%></h3>
      <%end%>
      <% if @group.description!= nil%>
         <p><%=@group.description%></p>
      <%end%>
   </div>
      <div class="row col-xs-12">
      <table id="client-group-table" class="table table-condensed">
      <!-- STUDENTS IN GROUP -->
         <thead>
            <tr class="noborder">
               <th colspan="3"><h4>Clients in group</h4><h6>(Refresh page for alphabetized list)</h6></th>

            </tr>
            <tr>
               <th>Client Name</th>
               <th>C</th>
               <th>Remove</th>
            </tr>
         </thead>
            <%if @clients_in_groups != nil %>
               <% @clients_in_groups.each do |client| %>
                  <tr>
                     <td id="name">
                        <% if client.last_name != nil %>
                           <%=client.first_name + " " + client.last_name%>
                        <%else %>
                           <%=client.first_name%>
                        <%end%>
                     </td>
                     <td>
                        <% if client.category_name != nil %>
                           <%=client.category_name%>
                        <%end%>
                     </td>
                     <td>
                        <%=link_to "/groups/#{client.clients_groups_id}/delete_clients_groups", :method => :delete, remote: true, class:"btn btn-default btn-xs delete_clients_groups_test" do %>
                            <i class="glyphicon glyphicon-remove"></i>
                        <%end%>
                     </td>
                  </tr>
              <%end%>
          <%end%>
      </table>
        <!-- All Clients -->
      <table id="all-clients-table" class="table table-condensed">
         <thead>
            <tr class="noborder">
               <th colspan="3"><h4>All clients</h4><h6>(Refresh page for updated/alphabetized list)</h6></th>
            </tr>
            <tr>
               <th>Client Name</th>
               <th>C</th>
               <th>Add</th>
            </tr>
         </thead>
            <%@clients.each do |client|
               sg = client.clients_groups.where(group_id: @group_id)
               if (sg.length == 1) then
                   sg = sg.first
               else
                   sg = nil
               end
               if sg == nil%>
               <tr>
                  <td id="name">
                     <% if client.last_name != nil %>
                        <%=client.first_name.capitalize + " " + client.last_name.capitalize%>
                     <%else %>
                        <%=client.first_name.capitalize%>
                     <%end%>
                  </td>
                  <td>
                     <% if client.category_type.name != nil %>
                        <%=client.category_type.name%>
                     <%end%>
                  </td>
                  <td>
                     <%= form_for(@clients_groups, :url => {:action => "update_clients_in_group"}, remote: true) do |f| %>
                        <%= f.hidden_field :group_id, :value => @group_id %>
                        <%= f.hidden_field :client_id, :value => client.id %>
                        <div id="scheduled_btn" class="btn">
                           <%= button_tag(type: 'submit', class: "btn btn-default btn-xs test23") do %>
                               <i class="glyphicon glyphicon-ok"></i>
                           <%end%>
                       </div>
                     <%end%>
                 </td>
              </tr>
            <%else%>
            <%end%>
         <%end%>
      </table>
   </div>
</div>


<script type="text/javascript">

    $(".test23").click(function(){
         $(this).closest('tr').addClass('selected_client_jquery').delay(2000).fadeOut(1);
    });


</script>

