<div class="container-fluid">
   <div class="row">
      <div class="col-xs-12 col-md-8">
         <div class="col-xs-6 previous">
             <h2>Notes</h2>
         </div>
         <div id= "links" class="actions col-xs-6 next">
             <%= button_to('Back', clients_attendance_path, :class => 'btn btn-primary btn-padded pull-right')%>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-md-8">
         <table class="table table-condensed">
            <thead>
               <tr class="noborder">
                  <th colspan="3"><h3>Attending clients</h3></th>
               </tr>
               <tr>
                  <th>Name</th>
                  <th>Notes</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <%=display_name%>
                  </td>
                  <td>
                  <%= form_for(@clients_sittings, :url=>{:action=>"update_special_status"}) do |f| %>
                  <div class="field">
                     <%= f.hidden_field :sitting_id, :value => @sitting_id %>
                     <%= f.hidden_field :client_id, :value => @client_id %>
                  </div>
                     <%= f.label "Select group" %>
                     <%= f.collection_select(:special_status_type_id, SpecialStatusType.all, :id, :name) %>
                  <div id= "buttonId" class="actions">
                     <%= f.submit "Submit", class:"btn btn-sm center-block" %>
                  </div>
                  <%end%>
                  </td>
                  <td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
