<div class="container-fluid nopadding">
   <div id="links" class="col-xs-12">
      <%= button_to('Back', clients_attendance_path, :class => 'btn btn-primary btn-padded pull-right')  %>
      <%= button_to('Home', sittings_select_sitting_path, :class => 'btn btn-primary btn-padded pull-right')  %>
   </div>
   <div class="col-xs-12">
      <h2>Sitting Attendance</h2>
   </div>
   <div class="col-xs-12">
      <div class="panel panel-default">
         <div class="panel-heading" id="light-blue">
            <h4 class="panel-title" id="blue-text"><%="#{@sitting_event_title} - #{@sitting_start_date}"%>
            </h4>
         </div>
         <div class="panel-body">
            <div class="col-xs-12">
               <% if @current_note != nil %>
                  <p><%=@current_note.content%></p>
               <%end%>
            </div>
            <div class="col-xs-12">
               <%=form_for(@sitting, :url => {:controller => "sittings", :action => "update"}, :html => {:class => "form-inline", :id => "no_meeting_flag"}, remote: true) do |f| %>
                  <%= f.label :no_meeting_flag, 'No one seen' %>
                  <%=f.hidden_field :start_date, :value => @sitting.start_date%>
                  <%=f.hidden_field :start_time, :value => @sitting.start_time%>
                  <%if @sitting.no_meeting_flag == true %>
                     <%= f.check_box :no_meeting_flag, options = {:checked => true, :class => "checkbox"} %>
                  <%else%>
                     <%= f.check_box :no_meeting_flag, options = {:checked => false, :class => "checkbox"} %>
                  <%end%>
               <%end%>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-12">
      <table class="table table-condensed">
         <thead>
            <tr class="noborder">
                 <% @i = 0
                 @attending_clients.each do |client|
                   @i += 1
                 end
                 @attending_managers.each do |manager|
                     @i +=1
                 end
                 %>
               <p class="norm">Number of clients: <%=@i%></p>
            </tr>
            <tr>
               <th class="norm">Name</th>
               <th id="th-align" class="norm">Notes</th>
               <th id="th-align" class="norm">Hatto</th>
               <th id="th-align" class="norm">#Days</th>
               <th id="th-align" class="norm">To see</th>
            </tr>
         </thead>
            <tr>
               <% @attending_managers.each do |client| %>
            <tr>
               <td class="norm">
                  <% if client.last_name != nil %>
                     <%=client.first_name + " " + client.last_name%>
                  <%else %>
                     <%=client.first_name%>
                  <%end%>
                  <% if client.bench == true %>
                     <%=image_tag("bench.png", size:"20", class:"bench")%>
                  <%end%>
               </td>
               <td id="td-align" class="norm">
                  <% if client.special_status != nil %>
                        <%=client.special_status%>
                  <%end%>
               </td>
               <td id="td-align" class="norm">
                  <% if client.hatto != nil && client.hatto != 0 %>
                     <i class="glyphicon glyphicon-ok"></i>
                  <%end%>
               </td>
               <td>
               </td>
               <td>
               </td>
            </tr>
            <%end%>
               <% @attending_clients.each do |client| %>
            <tr>
               <td class="norm">
                  <% if client.last_name != nil %>
                     <%=client.first_name + " " + client.last_name%>
                  <%else %>
                     <%=client.first_name%>
                  <%end%>
                  <% if client.bench == true %>
                    <%=image_tag("bench.png", size:"20", class:"bench")%>
                  <%end%>
               </td>
               <td id="td-align" class="norm">
                  <% if client.special_status != nil
                     if client.special_status == "Retreat"%>
                        <%="Retreat (#{client.acceptance_date})"%>
                     <%else%>
                        <%=client.special_status%>
                     <%end%>
                  <%end%>
               </td>
               <td id="td-align" class="norm">
                  <% if client.hatto != nil && client.hatto != 0 %>
                     <i class="glyphicon glyphicon-ok"></i>
                  <%end%>
               </td>
               <td id="td-align" class="norm">
                  <%if client.days_since_last_seen.nil? %>
                     N/A
                  <%else%>
                     <%= client.days_since_last_seen %>
                  <%end%>
               </td>
               <td>
                  <div id="center">
                     <div class="btn-group" role="group">
                     <%@id = client.meeting_id
                     if Meeting.where(id:@id).exists?
                        @meeting = Meeting.find(@id).manager_id
                        @manager = Manager.find(@meeting).initials
                     %>
                     <div id="btn-correction" class="btn btn-xs disabled">
                        <%=@manager %>
                     </div>
                     <div id="scheduled_btn" class="btn">
                        <%=link_to "/meetings/#{client.id}/new", class:"btn btn-default btn-xs" do%>
                           <i class="glyphicon glyphicon-edit"></i>
                        <%end%>
                        <%=link_to "/meetings/#{client.meeting_id}/destroy", :method => :delete, class:"btn btn-default btn-xs" do %>
                           <i class="glyphicon glyphicon-remove"></i>
                        <%end%>
                     </div>
                     <%else%>
                     <div id="scheduled_btn" class="btn">
                        <%=link_to "/meetings/#{client.id}/new", class:"btn btn-default btn-xs" do%>
                           <i class="glyphicon glyphicon-edit"></i>
                        <%end%>
                     </div>
                        <%end%>
                     <%end%>
                  </div>
               </td>
            </tr>
      </table>
   </div>
</div>


<script type="text/javascript">

   $(function(){
        $('.checkbox').on('change',function(){
            $('#no_meeting_flag').submit();
        });
    });

     $(function(){
        $('.checkbox').on('change',function(){
            $('.no_meeting_flag').submit();
        });
    });


// $(function(){
//     $( "input[type=checkbox]" ).on("change", function(){
//         $('.no_meeting_flag').submit();
//         if($(this).is(':checked'))
//             $(this).parent().css('background-color', '#cd0000');
//         else
//             $(this).parent().css('background-color', '');
//     });
// });

</script>
