<div class="container-fluid">


    <div class="col-xs-12 col-md-5 well">

        <h2>Generate Reports</h2>

        <div class="well">
            <h4>Generate a client report</h4>
            <%=form_tag(reports_client_report_path(format: 'xlsx'), method: "get") do %>
            <div class="">
                <%= label_tag("start_date", "Start Date")%>
                <%= date_select("report", "start_date")%>
            </div>
            <div class="">
                <%= label_tag("end_date", "End Date")%>
                <%= date_select("report", "end_date")%>
            </div>
            <div class="">
                <%= label_tag "Search for a client" %>
                <%= autocomplete_field_tag('Name', '', autocomplete_client_path, :id_element => "#clients_sitting_client_id", class: "form-control", id:"name-search-autocomplete") %>
                </div>
            <div id= "buttonId" class="actions">
                <%= submit_tag "Create Report", :class =>"btn btn-primary btn-padded" %>
            </div>
            <% end %>
        </div>

    </div>
</div>